venv
.idea
__pycache__
police_calls/innerhtmls
chromedriver.exe
data.csv
police_calls/monthly_scraping
body.txt
clasifica_estate/clasifica_estate/announcements.json
clasifica_estate/clasifica_estate/body.txt
clasifica_estate/clasifica_estate/LOGS.log
/clasifica_estate/items.json
/clasifica_estate/LOGS.log
rent.json
Rental_notes.txt
vac.json
/vrbo/availability.txt
/vrbo/help.py
/vrbo/ho.txt
/vrbo/notes.txt
/vrbo/LOGS.log
/vrbo/vrb.json
/vrbo/respons.txt
/vrbo/req.txt
/vrbo/puerto_rico.json
/vrbo/resp.txt
/vrbo/window.txt
